@model ThreadPostViewModel;

<div class="forum-post">
    <a class="post-link">
        <div class="inner-container">
            <div class="topic">

                <div class="post-title">@Model.Title</div>
                <div class="post-description">@Model.UserName | @Model.TextBody </div>

            </div>

            <div class="replies">2</div>
        </div>
    </a>
</div>
