@model List<ThreadPostViewModel>;

@{
    ViewData["Title"] = "Index";
}
fukin hell plz work
<h1>Post</h1>
@Html.Partial("_Create" , new ThreadPostViewModel())
<div>
    @foreach (var post in Model)
    {
        @Html.Partial("_PostBox", post)
        //Add buttom for replies
    }
</div>
