@model IEnumerable<Subject>
@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <h1>TechBoard</h1>
    <h3>För tekniknördar av tekniknördar</h3>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="Subject/Index/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
        </tr>
    }

</div>