@{
    ViewData["Title"] = "Home Page";
}

<div class="forum">
    <div class="forum-header">
        <h4>Topic</h4>
        <h4>Replies</h4>

    </div>
    <div class="forum-post">
        <div class="topic">

        <div class="post-title">Dummy Post1</div>
        <div class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non. </div>
        
        </div>
        <div class="replies">2</div>
    </div>
    @*<a class="post-link" asp-area="" asp-controller="Home" asp-action="Index">    *@
    <div class="forum-post">
        <div class="topic">

        <div class="post-title">Dummy post 2</div>
        <div class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        
        </div>

        <div class="replies">23</div>

        
    
    </div>
    @*</a>*@
</div>