.forum-header,
.forum-post {
    display: grid;
    grid-template-columns: 90% 10%;
    
}

.forum-post {
    border-radius: .5rem;
    margin: 1rem 0;
    padding: .5rem;
}

.post-title{
    font-weight: 800;
}


.hero {
    background: #fcebe4;
    height: 100%;
    padding: 2rem;
    border-radius: 1rem;
    border-radius: 1rem;
}


    .hero h1, .hero h3 {
        color: #e47748;
    }