@model IEnumerable<TechBoard.Models.Thread>

@{
    ViewData["Title"] = "Subject";
}

<div class="hero">
    <h1>TechBoard</h1>
    <h3>För tekniknördar av tekniknördar</h3>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Thread/@item.Id">@Html.DisplayFor(modelItem => item.Heading)</a>
            </td>
        </tr>
    }
</div>
