@model SubjectThreadViewModel;

<h1>@Model.Subject.Title</h1>
<p>Id: @Model.Subject.Id</p>

<div class="forum">
    <div class="forum-header">
        <h4>Topic</h4>
        <h4>Replies</h4>

    </div>

    @foreach (var thread in Model.Threads)
    {
        @Html.Partial("_ThreadBox", thread)
    }

</div>