@model List<SubjectThreadViewModel>;

<div class="forum">
    <div class="forum-header">
        <h1>@Model[0].SubjectTitle</h1>
    </div>
    @{
        int currentSubjectId = 0;
        if (Model.Any())
        {

            currentSubjectId = Model[0].SubjectRefId;
        }
        
    }
    @Html.Partial("_CreateThread" , new SubjectThreadViewModel{SubjectRefId = currentSubjectId })

    @foreach (var thread in Model)
    {

        @Html.Partial("_ThreadBox", thread)

    }

</div>
