@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Mjukvara</h1>


<div class="forum">
    <div class="forum-header">
        <h4>Topic</h4>
        <h4>Replies</h4>

    </div>
    <div class="forum-post">
        <div class="topic">

        <div class="post-title">Dummy Post1</div>
        <div class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non. </div>
        
        </div>
        <div class="replies">2</div>
    </div>
    <div class="forum-post">
        <div class="topic">

        <div class="post-title">Dummy post 2</div>
        <div class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        
        </div>

        <div class="replies">23</div>

        
    
    </div>
 
</div>